.test {
  width: 3000px;
  height: 980px;
}

.layout-default-box {
  .ant-layout-sider-children {
    height: 100vh;
    overflow: auto;
  }

  .ant-menu-inline.ant-menu-root .ant-menu-item>.ant-menu-title-content,
  .ant-menu-inline.ant-menu-root .ant-menu-submenu-title>.ant-menu-title-content {
    flex: none;
  }
}

.demo-logo-vertical {
  height: 64px;
}

.ant-menu-submenu-popup {
  &.ant-menu-submenu-placement-rightTop {
    padding-left: 16px;
  }

  .ant-menu.ant-menu-sub.ant-menu-vertical {
    .ant-menu-item:first-child {
      margin-top: 10px;
    }
  }
}