@import "./assets/scss/common";
@import "./assets/scss/scrollbar";
@import "./assets/scss/reset.min.css";

#root {
  height: 100%;
}

html, body {
  font: 14px/1 PingFangSC-Regular, Helvetica, Arial, "Microsoft Yahei", sans-serif;
  -webkit-touch-callout: none !important;
}